/**
 * DMMono
 */
@font-face {
    font-family: "dm_mono";
    src: url("../public/fonts/DMMono/DMMono-Regular.woff2") format("woff2"),
    url("../public/fonts/DMMono/DMMono-Regular.woff") format("woff"),
    url("../public/fonts/DMMono/DMMono-Regular.eot") format("opentype"),
    url("../public/fonts/DMMono/DMMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "dm_mono";
    src: url("../public/fonts/DMMono/DMMono-Medium.woff2") format("woff2"),
    url("../public/fonts/DMMono/DMMono-Medium.woff") format("woff"),
    url("../public/fonts/DMMono/DMMono-Medium.eot") format("opentype"),
    url("../public/fonts/DMMono/DMMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("../public/fonts/poppins/poppins-v19-latin-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("../public/fonts/poppins/poppins-v19-latin-regular.woff2") format("woff2"),
    url("../public/fonts/poppins/poppins-v19-latin-regular.woff") format("woff"),
    url("../public/fonts/poppins/poppins-v19-latin-regular.svg") format("svg"),
    url("../public/fonts/poppins/poppins-v19-latin-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("../public/fonts/poppins/poppins-v19-latin-500.woff2") format("woff2"),
    url("../public/fonts/poppins/poppins-v19-latin-500.woff") format("woff"),
    url("../public/fonts/poppins/poppins-v19-latin-500.svg") format("svg"),
    url("../public/fonts/poppins/poppins-v19-latin-500.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("../public/fonts/poppins/poppins-v19-latin-600.woff2") format("woff2"),
    url("../public/fonts/poppins/poppins-v19-latin-600.woff") format("woff"),
    url("../public/fonts/poppins/poppins-v19-latin-600.svg") format("svg"),
    url("../public/fonts/poppins/poppins-v19-latin-600.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("../public/fonts/poppins/poppins-v19-latin-700.woff2") format("woff2"),
    url("../public/fonts/poppins/poppins-v19-latin-700.woff") format("woff"),
    url("../public/fonts/poppins/poppins-v19-latin-700.svg") format("svg"),
    url("../public/fonts/poppins/poppins-v19-latin-700.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("../public/fonts/poppins/poppins-v19-latin-800.woff2") format("woff2"),
    url("../public/fonts/poppins/poppins-v19-latin-800.woff") format("woff"),
    url("../public/fonts/poppins/poppins-v19-latin-800.svg") format("svg"),
    url("../public/fonts/poppins/poppins-v19-latin-800.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "ubuntu_mono";
    src: url("../public/fonts/ubuntu-mono/ubuntu-mono-v14-latin-regular.woff2") format("woff2"),
    url("../public/fonts/ubuntu-mono/ubuntu-mono-v14-latin-regular.woff") format("woff"),
    url("../public/fonts/ubuntu-mono/ubuntu-mono-v14-latin-regular.svg") format("svg"),
    url("../public/fonts/ubuntu-mono/ubuntu-mono-v14-latin-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}