.stigg-wrapper .stigg-paywall-container p {
  margin-bottom: 0;
}

.stigg-skeleton-loader-billing-period {
  display: none !important;
}

.stigg-skeleton-loader-plans-container > div {
  max-width: 244px !important;
  min-width: 244px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  background-color: #15192c !important;
  border: 1px solid #373d57 !important;
}

.react-loading-skeleton {
  --base-color: #15192c !important;
  --highlight-color: rgba(255, 255, 255, 0.1) !important;
}

.promo-banner {
  display: flex;
  align-items: center;
  width: 960px;
  height: 300px;
  background-size: cover;
  margin: auto;
  margin-bottom: 40px;
  border: 3px solid #ffffff;
  box-shadow: 0px 36px 38px -19px rgba(9, 11, 20, 0.7);
  border-radius: 8px;
}
